@import "tailwindcss";

:root {
  --theme-color-primary-green: #1EBD7C;
  --theme-color-primary-blue: #0094FF;
  --theme-color-background: #F9F9F9;
  --theme-color-text: #121212;
  --theme-color-border: #EBEBEB;
  --theme-color-surface: #FFFFFF;
  --theme-color-overlay: #00000040;
  --theme-color-scope-1: #EF4444;
  --theme-color-scope-2: #8B5CF6;
  --theme-color-scope-3: #F59E0B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-background: #1b1b1b;
    --theme-color-text: #FCFCFC;
    --theme-color-border: #303030;
    --theme-color-surface: #282828;
  }
}

@theme {
  --font-pretendard: var(--font-pretendard);
  --color-primary-blue: var(--theme-color-primary-blue);
  --color-primary-green: var(--theme-color-primary-green);
  --color-background: var(--theme-color-background);
  --color-text: var(--theme-color-text);
  --color-border: var(--theme-color-border);
  --color-surface: var(--theme-color-surface);
  --color-overlay: var(--theme-color-overlay);
  --color-scope-1: var(--theme-color-scope-1);
  --color-scope-2: var(--theme-color-scope-2);
  --color-scope-3: var(--theme-color-scope-3);
}

* {
  outline: none;
}

input[type="month"] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}